.jumbotron {
	background-image: url("media/JMheader1.png");
	text-align: center;
}

.jumbotron h1 {
	padding-top: 150px; 
	color: #989898;
}
.jumbotron h4 {
	color: #989898;
}

.nav {
	text-align: center;
	background-color: #fff;
}

.nav li {
	padding: 0px 20px 0px 20px;
}

.guts {
	background-color: #fff;
	height: 1000px;
}

.footer {
	background-color: #fff;
}