/* begin css for body of page */
body {
    background-color: #FCF8F3;
}
/* end css for body of page */

/* begin css for jumbotron pane*/
.jumbotron {
	background-color: #FCF8F3;
	text-align: center;
	height: 400px;
	padding: 0px 0px 0px 0px;
	/* margin-bottom needs to be set to 0px here to avoid the white horizontal stripe */
	margin-bottom: 0px;
}

.jumbotron h1 {
	margin-top: 170px;
	letter-spacing: -0.05em;
	color: #000000;
	font-size: 7em;
}
/* end css for jumbotron pane*/

/* begin css for navigation pane */
.navigation {
	background-color: #000000;
	text-align: center;
	height: auto;
	padding: 0px 0px 50px 0px;
}

.navigation h1 {
	margin-top: 100px;
	text-align: center;
	font-style: italic;
	font-family: "Helvetica Neue" inherit;
	font-weight: lighter;
	color: #FCF8F3;
	font-size: 6em;
}
/* end css for navigation pane */

/* begin css for footer pane */
.footer {
	background-color: #FCF8F3;
	text-align: center;
	height: 50px;
	padding: 0px 0px 0px 0px;
}

.footer p {
	margin-top: 25px;
	color: #000000;
}
/* end css for footer pane */

/* begin css for about page */
.aboutheader h2 {
  margin-top: 0px;
  text-align: center;
  font-family: "Helvetica Neue" inherit;
	font-weight: lighter;
	color: #FCF8F3;
	font-size: 2em;
}
.aboutdescription h2 {
  margin-top: 0px;
  text-align: center;
  font-family: "Helvetica Neue" inherit;
	font-weight: lighter;
	color: #FCF8F3;
	font-size: 2em;
}

.aboutdescription {
	text-align: justify;
	margin: 40px 0px 0px 0px;
	color: #FCF8F3;
}
/* end css for about page */

/* begin css for blog page */
.blogheader h2 {
  margin-top: 0px;
  text-align: center;
  font-family: "Helvetica Neue" inherit;
	font-weight: lighter;
	color: #FCF8F3;
	font-size: 2em;
}

.blogdescription h2 {
  margin-top: 0px;
  text-align: left;
  font-family: "Helvetica Neue" inherit;
	font-weight: lighter;
	color: #FCF8F3;
	font-size: 2em;
}

.blogdescription {
	text-align: justify;
	margin: 40px 0px 0px 0px;
	color: #FCF8F3;
}


/* end css for blog page */

/* begin css for links */
a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

a:active {
	color: inherit;
}
/* end css for links */


/* begin iframe css */
.video iframe {
  display: block;
  margin: auto;
  padding: 10px 0px 10px 0px;
}
/* end iframe css */
