.jumbotron {
	background-image: url("http://jupitermornings.com/media/JMheader1.png");
	background-size: 100% 100%;
	text-align: center;
	height: 400px;
	margin-bottom: 0px;
}

.jumbotron h1 {
	margin-top: 200px; 
	color: #fff;
}
.jumbotron h4 {
	color: #fff;
}

a.hover {
	text-decoration: none;
}

.nav {
	color: #b3b3b3;
	text-align: center;
	background-color: #f9f9f9;
}

.nav li {
	padding: 0px 20px 0px 20px;
}

.guts {
	color: #b3b3b3;
	background-color: #fff;
}

.about {
	padding-top: 40px;
	padding-bottom: 20px;
}

.projects {
	padding-top: 20px;
	padding-bottom: 40px;
}

.projects h3 {
	text-align: center;
}

.projects h2 {
	text-align: center;
	padding-bottom: 50px;
}

.social {
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
}
.social h3 {
	padding: 0px 20px 0px 20px;
}

.social img{
	height: 35px;
	width: auto;
}

.footer {
	color: #b3b3b3;
	background-color: #e6e6e6;
}

